In [18]:
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')  # Column names
    f.write('NA,Pave,127500\n')  # Each row represents a data example
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')
    f.write('3,Pave,150000\n')

In [19]:
import pandas as pd

data = pd.read_csv(data_file)
data.head()

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000
4       3.0  Pave  150000

**Question 1 : Delete the column with the most missing values.**

In [22]:
data_droped = data.drop(data.iloc[:].T.isna().sum().argmax())
data_droped.head()

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
4       3.0  Pave  150000

**Question 2 : Convert the preprocessed dataset to the tensor format.**

In [23]:
_in, _out = data_droped.iloc[:, 0:2], data.iloc[:, 2]
_in = _in.fillna(_in.mean())

In [24]:
_in = pd.get_dummies(_in, dummy_na=True)

In [25]:
_in

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
4       3.0           1          0

In [28]:
import torch

X, y = torch.tensor(_in.values), torch.tensor(_out.values)
X, y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 1., 0.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000, 150000]))